<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>{{ post.title }}</title>
        <style>
            body{
                padding-left: 20px;
            }
            #content{
                padding-top: 30px;
                padding-bottom: 50px;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>{{ post.title }}</h2>
            <div>
                {{ post.created_date }}
            </div>
            <div id="content">
                {{ post.text }}
            </div>
        </div>
        <div>
            <button><a href="/post/{{ post.pk }}/edit">글 수정</a></button>
            <button><a href="/post/{{ post.pk }}/delete">글 삭제</a></button>
            <button><a href="/">목록으로</a></button>
        </div>
    </body>
</html>